page-tutorial {

    .capa{
      height: 60%;
    }

  .logo{
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

  }
  .img{
    text-align: center;
  }

  .conteudo{
    position: fixed;
    width: 100%;
  }

  .cor{
   background: #ADD8E6;
   background-size: cover;
   position: fixed;

  }

  }


